// map
section.map
  .shell
    .container
      .range
        .map-wrapper
          //- titele
          h2.map-title.wheel-title наши автомойки на карте
          iframe(src="https://snazzymaps.com/embed/6822" width="100%" style="border:none; height:600px")

            
            
            
// map end
