// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper

          ul#count.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Акции
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Название акции в сорока символах") Название акции в сорока символах

// breadcrumbs end
